<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" routerLink="/home">
        <img
          src="assets/logo.png"
          alt="Logo"
          width="42"
          height="30"
          class="d-inline-block align-text-top"
        />
        UTCodeJest
      </a>
    </div>
    <!-- Search Bar -->
    <div class="search-bar">
      <form class="nosubmit">
        <input
          class="nosubmit"
          type="search"
          placeholder="Search"
          [(ngModel)]="profileSearchQuery"
        />
      </form>
    </div>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/question" routerLinkActive="selected"
            >Questions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/forum" routerLinkActive="selected"
            >Forum</a
          >
        </li>

        <li class="nav-item">
          <img
            [src]="userImage"
            alt="profile"
            class="circular-image"
            (click)="toggleDropdown()"
            role="button"
          />
          <div class="dropdown-menu" *ngIf="isDropdownVisible">
            <!-- This will now always be true -->
            <div class="dropdown-item">{{ userName }}</div>
            <a class="dropdown-item" routerLink="/profile">View Profile</a>
            <a class="dropdown-item" routerLink="/">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
