
.navbar {
  background-color: #fffbfc;
  position: fixed;
  z-index: 10;
 
  margin-bottom: 10px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-brand {
  border-color: #ceced2;
  
  width: 100%;
  left: 0;
  text-align: left;
  margin: 0 auto;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 24px; */
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-brand img {
  margin-right: 5px;
  /* Adjust the margin as needed */
}

.btn-primary {
  background-color: #e5e5e9;
  border-color: #e5e5e9;
  color: #0a192b;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.btn-link {
  color: #D40839;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.container {
  width: 1000px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.form-label {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-box {
  border: 1px solid #ced4da;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  height: 618px;
  width: 478px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.label {
  color: #999797;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Additional Styles */
.navbar .container-fluid {
  justify-content: space-between;
  display: flex;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 6px 15px;
  /* margin-left: 300px;
      width: 50%;
      margin-right: 150px; */
  width: calc(100% - 775px);
  /* adjust as needed */
  margin-left: 300px;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
}

input[type="search"]::placeholder {
  color: #bbb;
}

input.nosubmit {
  border: none;
  width: 290%;
  /* change the width of cancel bar */
  padding: 1px 1px 1px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.nav-item {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 55px;
}

.nav-profile {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.navbar {
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .search-bar {
    width: 35%;
    margin-left: -90px;
  }

  input.nosubmit {
    width: 120%;
  }

  .navbar .container-fluid {
    flex-direction: column;
  }
}

.float-container {
  display: flex;
  flex-direction: row;
  /* default value: items will be placed from left to right */
  flex-wrap: wrap;
  /* allows the items to wrap onto multiple lines if necessary */
}

@media (max-width: 768px) {
  .float-container {
    flex-direction: column;
  }
}

.block {
  font-family: "montserrat", sans-serif;
  font-size: 24px;
  width: 22%;
  position: relative;
  background-color: #fffbfc;
  padding: 15px 36px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner-block {
  font-family: "montserrat", sans-serif;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.update_block {
  font-family: "montserrat", sans-serif;
  width: 132%;
  border: 1px solid #ced4da;
  background-color: rgba(206, 206, 210, 0.12);
  display: flex;
  border-radius: 12px;
  margin-top: 8px;
  flex-direction: column;
  align-self: center;
}

.ptitle {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: rgba(10, 25, 43, 0.65);
  margin-bottom: 0px;
}

hr {
  background-color: #959595;
  width: 128%;
  margin-left: -36px;
}

.sm {
  text-align: center;
  margin-top: 8px;
}

.inner-block-discussion {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 1040px;
  box-sizing: border-box;
  margin-top: 12px;
  margin-left: -35.9px;
  /* still figuring out a better way to revise this*/
  border-top: 1px solid #ced4da;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-left: 0px;
}

.discussion_block {
  font-family: "montserrat", sans-serif;
  font-size: 24px;
  border: 1px solid #ceced2;
  width: 1040px;
  height: 1052px;
  position: relative;
  background-color: #fffbfc;
  padding: 20px 0 20px 36px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  /* Adjusted the left margin to accommodate the padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.filter-button {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 6px 12px;
  background-color: #dad9dd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile_content {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  height: 167px;
  width: 979px;
  border: 1px solid #ced4da;
  background-color: rgba(206, 206, 210, 0.12);
  display: flex;
  border-radius: 12px;
  padding: 12px;
}

.nav-link.active {
  color: #0056b3; /* Bootstrap primary blue for the active state */
  font-weight: bold;
  background-color: #e7f5ff; /* Light blue background */
}

/* .selected{
  background: black;
  color: white;
  border-radius: 15px;
} */

.circular-image {
  border-radius: 50%;
  width: 30px;   /* Adjust width as needed */
  height: 30px;  /* Adjust height as needed */
  object-fit: cover; /* Optional: for maintaining aspect ratio */
}