.like-post button {
  background-color: #f5f5f5; /* Light gray background */
  border: 1px solid #ddd; /* Light gray border */
  cursor: pointer;
  padding: 5px;
  border-radius: 5px; /* Rounded corners */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.like-icon {
  color: #555; /* Default color */
  font-size: 24px; /* Adjust size as needed */
}

.liked {
  color: #007bff; /* Blue color when liked */
}

.like-post span {
  margin-left: 10px;
  vertical-align: middle; /* Aligns the text with the icon */
}
